<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4" style="text-align:center;">About Us</h3>
              <p>Welcome to Greenery Products, your one-stop destination for all your farming needs! At Greenery, we're passionate about providing
                top-quality products to support your farming endeavors and help your crops thrive.</p>
            </div>

          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Quick Links</h3>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">Store</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4" style="text-align:center;">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, Ernakulam, Kerala, India</li>
                <li class="phone">+91 92 3929 2109</li>
                <li class="email">greenery@gmail.com</li>
              </ul>
            </div>


          </div>
        </div>
      </div>
</footer>

