{% extends 'base.html' %}
{% load static %}

{% block title %}Thankyou :Greenery{% endblock %}

{% block content %}


    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Thank you!</h2>
            <p class="lead mb-5">You order was successfuly completed.</p>
            <a href="{% url 'shop' %}" class="btn btn-md height-auto px-2 py-2 btn-success">Back to store</a>
            <a href="{% url 'order_view' %}" class="btn btn-md height-auto px-2 py-2 btn-success">View Order</a>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
